<script>
export default {
    data() {
        return {
            count: 1
        }
    },

    // `mounted` is a lifecycle hook which we will explain later
    mounted() {
        // `this` refers to the component instance.
        console.log(this.count) // => 1

        setInterval(() => {
            // data can be mutated as well
            this.count++;
        }, 1000);

    }
}
</script>


<template>
    <div class="about">
        <h1> Count is: {{ count }}</h1>
    </div>
</template>

<style>
@media (min-width: 1024px) {
    .about {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}
</style>